<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransfer" maxReceivedMessageSize="2000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13568/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITransfer" contract="ServiceReference.ITransfer"
                name="BasicHttpBinding_ITransfer" />
        </client>
    </system.serviceModel>
</configuration>